
<div fxLayout="row wrap">
  <div class="chart-card" fxFlex="50" fxFlex.sm="100"  fxFlex.xs="100">
    <chart-temperature></chart-temperature>
  </div>
  <div class="chart-card" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
    <chart-temperature-and-humidity></chart-temperature-and-humidity>
  </div>
  <div class="chart-card" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
    <chart-water-count></chart-water-count>
  </div>
  <div class="chart-card" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
    <chart-humidity></chart-humidity>
  </div>
</div>
