<nb-card style="width: 400px" [status]="isEdit ? 'primary' : 'success'">
  <nb-card-header>
    <h5>{{ isEdit ? '編輯使用者' : '新增使用者' }}</h5>
  </nb-card-header>
  <nb-card-body>
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
      <div class="form-control">
        <label class="lable">帳號</label>
        <input formControlName="Account" type="text" fullWidth nbInput placeholder="請輸入帳號">
      </div>
      <div class="form-control">
        <label class="lable">密碼</label>
        <input formControlName="Password" type="password" fullWidth nbInput placeholder="請輸入密碼">
      </div>
      <div class="form-control">
        <label class="lable">身分</label>
        <nb-select formControlName="IsDispatched" fullWidth placeholder="請選擇身分">
          <nb-option *ngFor="let item of allIdentity" [value]="item.value">
            {{ item.name }}
          </nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer fxLayoutAlign="end center" fxLayoutGap="5px">
    <button [disabled]="form.invalid" (click)="send()" status="primary" nbButton>送出</button>
    <button (click)="close()" status="basic" nbButton>取消</button>
  </nb-card-footer>
</nb-card>
