/* You can add global styles to this file, and also import other style files */
.nb-theme-default nb-menu .menu-item a {
  font-size: 17px !important;
}

.font-17 {
  font-size: 17px;
}

.line-17 {
  line-height: 17px;
}

.pointer {
  cursor: pointer;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    padding: 0.875rem 1.25rem;
    border: 1px solid #edf1f7;
  }
  .action-col {
    padding: 0;
  }
  .action-icon {
    font-size: 2rem;
    width: 3rem;
    padding: 0.75rem;
    height: 100%;
  }
  .action-icon:not(:last-child) {
    border-right: 1px solid #edf1f7;
  }

}
