/* You can add global styles to this file, and also import other style files */
.nb-theme-default nb-menu .menu-item a {
  font-size: 17px !important;
}

.font-17 {
  font-size: 17px;
}

.line-17 {
  line-height: 17px;
}

.pointer {
  cursor: pointer;
}
