<nb-card style="width: 400px">
  <nb-card-header>
    <h5>使用者詳細</h5>
  </nb-card-header>
  <nb-card-body>
    <div fxLayout="column" fxLayoutGap="10px">
      <span>帳號: {{ userInfo.Account }} </span>
      <span>身分: {{ userInfo.IsDispatched === 1 ? '受照護者' : '照護者' }} </span>
      <span>建立時間: {{ userInfo.CreateTime | date:'yyyy-MM-dd HH:mm:ss' }} </span>
      <span>更新時間: {{ userInfo.UpdateTime | date:'yyyy-MM-dd HH:mm:ss' }} </span>
    </div>
  </nb-card-body>
  <nb-card-footer fxLayoutAlign="end center" fxLayoutGap="5px">
    <button (click)="close()" status="basic" nbButton>關閉</button>
  </nb-card-footer>
</nb-card>
